*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
}

    /* body{
        background: cornsilk;
    } */


.nav{
    max-width: 1110px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-title {
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    font-family: 'Roboto';
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    padding-top: 4px;
}

.list {
    display: flex;
    justify-content: space-between;
}

.link {
    display: inline-block;
    color: #3A3838;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    font-family: 'Roboto';
    padding: 43px 15px;
    
}


.header {   
    /* background: url('images/header-bg1.png');
    height: 473px;
    background-repeat: no-repeat;
    background-position: center; */
    
}

.link:hover{
    color: #EF4423;
    transition: 0.5s;
}

.main{
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
}

.main-left{
    width: 350px;
    background: #B71C1C;
}

.main-left2{
    width: 350px;
    background: #6A1B9A;
}

.main-left3{
    background: #303F9F;
    width: 350px;
}

.main-left4{
    background: #00695C;
    width: 350px;
}

.left-title{
    font-weight: bold;
    font-size: 19px;
    line-height: 22px;
    color: #FFFFFF;
    font-family: 'Roboto';
    margin: 8px 15px;
}

.left-description{
    font-size: 16px;
    line-height: 19px;
    color: #EBEBEB;
    font-family: 'Roboto';
    margin: 8px 15px 15px 15px;
    /* padding-bottom: 15px; */
}

.main-cards{
    display: flex;
}

.titlee{
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;
    color: #3A3838;
    text-align: center;
    padding: 40px 0;
}

.title2{
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;
    font-family: 'Roboto';
    color: #3A3838;
    max-width: 540px;
    width: auto;
    display: flex;
    margin: 20px 0 30px 0;
}

.latter-des{
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #686868;
    font-family: 'Roboto';
    width: 540px;

}

.latt-img{
    width: 555px;
    margin-left: 130px;
}

.latter{
    display: flex;
    background: #EDEDED;
    
}

.title2{
    margin: 20px 0 30px 30px;
}
.latter-des{
    margin: 30px 0 30px 30px;
}

.footer-nav{
    max-width: 1110px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer{
    background: #3A3838;
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    margin-top: 50px;
    
}

.link2{
    display: inline-block;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    font-family: 'Roboto';
    padding: 43px 15px;
}

.header-title2{
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    font-family: 'Roboto';
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    padding-top: 4px;

}

.link2:hover{
    color: #EF4423;
    transition: 0.5s;
} 

.img{
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

/* MEDIA START */

@media(max-width: 1400px){
    .main-cards{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    
    }
    .latter{
        flex-direction: column;
        align-items: center;
       
    
    }
   .latter-des{
        width: 555px;
        
   } 
   .title2{
        width: 555px;
        
   }
   .latt-img{
       margin: 0;
   }
   .main-left{
       margin-right: 15px;
       margin-bottom: 15px;
   }
   .main-left2{
       margin-right: 15px;
       margin-bottom: 15px;
   }
   .main-left3{
       margin-right: 15px;
       margin-bottom: 15px;
   }
   .main-left4{
       margin-right: 15px;
       margin-bottom: 15px;
   }
}

@media(max-width: 1070px){
    .footer-nav{
        flex-direction: column;
    
    }
    .logo{
        margin-top: 15px;
    }
    .nav{
        flex-direction: column;
        
    }

    
    
}


@media(max-width: 800px){
    .list{
        flex-wrap: wrap;
        justify-content: center;
    }
    
}

@media(max-width: 640px){
    .latt-img{
        width: 100%;
        padding: 20px;
    }
    .right-side{
       width: 100%;
    }
    .latter-des{
        max-width: 500px;
        width: 100%;

    }

}
@media(max-width: 560px){
    .latter-des{
        max-width: 100%;
        width: auto;
        padding: 15px;
    }
    .title2{
        max-width: 100%;
        width: auto;
        padding: 15px;
    }
    .left-title{
        max-width: 100%;
        width: auto;
    }
    .left-description{
        max-width: 100%;
        width: auto;
    }
    .left-img{
        width: 100%;

    }
    .main-cards{
        padding-left: 15px;
    }
}

/* MEDIA END */